---
layout: main-layout.hbs
title: AUI - Frequently Asked Questions
---

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Frequently asked questions</h1>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <h3 id="what-is-aui">What is AUI?</h3>

                <p>AUI stands for Atlassian User Interface. It is a UI library developed internally for creating a user interface according to the Atlassian Design Guidelines (ADG).</p>

                <p><a href="//aui.atlassian.com/aui/latest/docs">Read the latest documentation</a>.</p>

                <h3 id="what-is-adg-">What is the ADG?</h3>

                <p>ADG stands for <a href="//atlassian.design">Atlassian Design Guidelines</a>. It is a set of principles and guidelines for designing and building awesome Atlassian experiences.</p>

                <h3 id="how-do-i-include-aui">How do I include AUI in my project?</h3>

                <p>
                    Depending on the version of AUI, there are a couple of options.
                    <a href="//aui.atlassian.com/aui/latest/index.html">Read the latest documentation</a> for its deployment options, or
                    <a href="/docs/getting-started.html">read the getting started page</a> for other options.
                </p>

                <h3 id="how-do-i-know-version">How do I know what version of AUI my project is using?</h3>

                <p>You can type <code>AJS.version</code> into the browser console, or refer to the data attribute on the <code>body</code> element:</p>

                <div><img src="images/data-aui-version.png" title="Data attribute example" class="faq-example"></div>

                <h3 id="how-do-i-find-docs">How do I find documentation for an older version of AUI?</h3>

                <p>Visit the <a href="//aui.atlassian.com/aui/archive.html">Archive page</a> to find documentation for older versions of AUI.</p>

                <h3 id="how-to-contribute">How do I contribute to AUI?</h3>

                <p>See the <a href="//bitbucket.org/atlassian/aui#markdown-header-contributing">guide to contributing to AUI</a>.</p>

                <h3>I have a question that is not answered here, what should I do?</h3>

                <p><a href="{{communityHelpLink}}">Ask a question</a> to get help from the community.</p>
            </section>
        </div>
    </div>
</section>
