---
layout: main-layout.hbs
title: AUI - Getting started
---

<!-- Code Mirror resources -->
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.min.css">
<link rel="stylesheet" href="styles/syntax-highlighting.css">

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main intro-header">
                <h1>Getting started</h1>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <p>
                    Welcome to the Atlassian User Interface library.
                    It consists of JavaScript, CSS and images compliant with Atlassian Design Guidelines.
                </p>
                <p>
                    <strong>The main dependency of this library is jQuery (version 2 and above) - you have to install it independently.</strong>
                </p>
                <p>To get started with AUI, there are only 2 simple steps:</p>
                <ol>
                    <li>Choose a deployment option</li>
                    <li>Start using AUI's components</li>
                </ol>

                <h2 id="deployment-option">Choose a deployment option</h2>

                <p>Depending on the version of AUI, there will be a number of options for how you can consume the AUI library.</p>

                <p>Here are a few of the options available to you:</p>
                <ol type="a">
                    <li><a href="#node-package">Install as a Node package</a></li>
                    <li><a href="#p2-plugin">Install as an Atlassian plugin</a></li>
                    <li><a href="#download-aui">Download a distribution</a></li>
                    <li><a href="#other-options">Consume through a CDN</a></li>
                </ol>

                <h3 id="node-package">Install as a Node package</h3>

                <p>
                    AUI is released to <a href="https://www.npmjs.com/package/@atlassian/aui">npmjs.com</a>.<br /><br />

                    Install it through your favourite package manager:
                    <ul>
                        <li><code>npm install @atlassian/aui</code></li>
                        <li><code>yarn add @atlassian/aui</code></li>
                    </ul>
                </p>
                <p>
                    In the Node package, you will find:
                    <ul>
                        <li><code>dist/</code> contains pre-compiled javascript and css. This is the simplest way to use AUI.</li>
                        <li><code>src/</code> contains the raw JavaScript and LESS sources. It's unlikely you'll require these directly.</li>
                    </ul>
                </p>

                <h3 id="p2-plugin">Install as an Atlassian plugin</h3>

                <p>
                    AUI can be used as <a href="https://developer.atlassian.com/server/framework/atlassian-sdk/plugin-framework/">an Atlassian P2 plugin</a>.<br />
                    This plugin requires the following technologies to be available in the runtime it is installed in to:
                    <ul>
                        <li><a href="https://bitbucket.org/atlassian/atlassian-plugins-webresource">Web Resource Manager (aka the WRM)</a> version 3.6.0 or higher
                        <li><a href="https://bitbucket.org/atlassian/atlassian-spring-scanner">Spring Scanner</a> version 2 or higher
                    </ul>
               </p>
               <p>
                    All Atlassian Server products come with AUI pre-installed, so you don't need to do much to re-use it in your plugin.<br /><br />

                    Each AUI component has a <code>web-resource</code> key you can include it by. Consult each component's documentation
                    on <a href="https://aui.atlassian.com/latest/">the AUI website</a> for the key.
               </p>

                <h3 id="download-aui">Download a distribution</h3>

                <p>
                    AUI distributions are released as a zip file called the
                    <a href="https://packages.atlassian.com/maven-public/com/atlassian/aui/aui-flat-pack/">aui-flat-pack</a>,
                    hosted through Atlassian's Maven nexus. <br />
                    Note that this is equivalent to the <code>dist/</code> folder available in the Node package.
                </p>

                <h3 id="other-options">Consume through a CDN</h3>

                <p>
                    Use of AUI is not officially supported through a Content Delivery Network (CDN).<br />
                    However, because AUI is published to npmjs.com, the AUI distributions are also published through
                    some public CDN services such as:

                   <ul>
                    <li><a href="https://cdnjs.com/libraries/aui">cdnjs.com</a></li>
                    <li><a href="https://unpkg.com/@atlassian/aui@latest/">unpkg.com</a></li>
                   </ul>
                </p>

                <h2 id="start-coding">Start coding!</h2>

                <p>Once you've included AUI in to your project, <a href="/aui/latest/docs">check out AUI's documentation to learn about how to use the AUI components</a>.</p>

                <p>If you have any questions or run in to troubles using AUI, <a href="{{communityHelpLink}}">ask a question in our developer community</a>.</p>

                <p>Happy coding!</p>
            </section>
        </div>
    </div>
</section>

<script>
    var codeExamples = document.querySelectorAll('textarea');
    [].forEach.call(codeExamples, function (el) {
        el.textContent = el.textContent.split('\n').map(function(s) { return s.trim(); }).join('\n').replace(/\s*$/, '');;
        CodeMirror.fromTextArea(el, {
            mode: 'xml',
            readOnly: true,
            cursorBlinkRate: 0,
            styleSelectedText: true,
            theme: 'stash-default'
        })
    });
</script>
