<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <script>
        window.location.replace('getting-started.html' + window.location.hash);
    </script>
</body>
</html>
