---
component: Internationalisation
analytics:
  pageCategory: helpers
  component: i18n
---

<table id="auidocs-helper-functions-table" class="aui aui-table-sortable tablesorter tablesorter-default">
    <thead>
        <tr class="tablesorter-headerRow">
            <th class="function-name-header">Function</th>
            <th class="function-description-header aui-table-column-unsortable">Description</th>
            <th class="function-available-header tablesorter-header">Available since</th>
            <th class="function-example-header aui-table-column-unsortable">Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="function">format</td>
            <td class="function-description">
                <p>Provides an easy way to substitute parameters into a string.</p>
            </td>
            <td>1.0.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.format("This is a {0} test of {1}", "simple", "message format")
                    AJS.format("Have a {0} day", "good"); /* Have a good day */
                    AJS.format("Have a '{0}' day", "good"); /* Have a '{0}' day */
                    AJS.format("Have a ''{0}'' {1}", "good", "Monday"); /* Have a 'good' Monday */
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">I18n</td>
            <td class="function-description">
                <p>I18n keys.</p>
            </td>
            <td>5.4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    // Gets the i18n value
                    AJS.I18n.getText('aui.toggle.on')

                    // Returns the key
                    AJS.I18n.getText('aui.key.that.does.not.exist')

                    // Raw translation strings are stored in `AJS.I18n.keys`.
                    // Translation text should always be retrieved through `AJS.I18n.getText`.
                    AJS.I18n.keys['aui.test'] = 'Le test';
                    AJS.I18n.getText('aui.test');

                    // If there are keys that have {0} params in them, AJS formatting can apply
                    // Note: don't modify existing entries in AJS.I18N.keys directly, this is
                    // done for demonstration purposes
                    AJS.I18n.keys['aui.test'] = 'this is a {0} test';

                    console.log(
                    AJS.I18n.getText('aui.test', 'formatting')
                    );
                </noscript>
            </td>
        </tr>
    </tbody>
</table>
