---
component: Page headers
analytics:
  pageCategory: component
  component: page-header
design: https://design.atlassian.com/latest/product/components/navigation#page-header/
status:
  api: general
  core: true
  wrm: com.atlassian.auiplugin:aui-page-header
  amd: false
  experimentalSince: 3.7
  generalSince: 5.0
---

<h2>Summary</h2>
<p>The page header gives context to the content within the page. It is made up of a combination of the page title, avatar, metadata and related actions of the title. This is a strict pattern. Variation from the markup documented here is not supported.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>
<div id="pageheader-example" class="aui-flatpack-example">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-image"><span class="aui-avatar aui-avatar-xlarge aui-avatar-project"><span class="aui-avatar-inner"><img src="images/project-48.png"></span></span>
            </div>
            <div class="aui-page-header-main">
                <ol class="aui-nav aui-nav-breadcrumbs">
                    <li><a href="#">Breadcrumbs</a>
                    </li>
                    <li class="aui-nav-selected">Parent page</li>
                </ol>
                <h1>Page title</h1>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <button class="aui-button aui-button-subtle">Left action</button>
                    <button class="aui-button aui-button-subtle">Action</button>
                    <button class="aui-button aui-button-subtle">Right action</button>
                </div>
            </div>
        </div>
    </header>
</div>

<h2>Code</h2>
<h3>HTML</h3>
<p>The page header is designed to include one or more of the following elements.</p>
<ul>
    <li>A heading (required).</li>
    <li>Breadcrumbs</li>
    <li>Action buttons that should be located at the right side of the header.</li>
    <li>An avatar that is located to the left.</li>
    <li>A small form such as a search field.</li>
</ul>

<div class="aui-message aui-message-info">
    <h4>Note:</h4>
    <p><a href="{{rootPath}}docs/avatars.html">Avatar</a>, <a href="{{rootPath}}docs/navigation.html#breadcrumbs">breadcrumb navigation</a> and <a href="{{rootPath}}docs/buttons.html">Buttons</a> are components in their own right, combined with the Page Header wrapper.</p>
</div>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-large aui-avatar-project">
                        <span class="aui-avatar-inner">
                            <img alt="My awesome project" src="images/avatar-project.svg">
                        </span>
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <ol class="aui-nav aui-nav-breadcrumbs">
                        <li><a href="https://example.com/">Breadcrumbs</a></li>
                        <li><a href="https://example.com/" class="custom">Sub-page</a></li>
                        <li class="aui-nav-selected"><span class="assistive">Current page:</span> Direct parent page name</li>
                    </ol>
                    <h1>A typical page header with an avatar, breadcrumbs and actions</h1>
                </div>
                <div class="aui-page-header-actions">
                    <div class="aui-buttons">
                        <button class="aui-button aui-button-subtle">Subtle button</button>
                        <button class="aui-button aui-button-subtle">Subtle button</button>
                        <button class="aui-button aui-button-subtle">Subtle button</button>
                    </div>
                </div>
            </div>
        </header>
    </noscript>
</aui-docs-example>
