@import (reference) '../theme';

@aui-label-text-color: var(--aui-label-text-color);
@aui-label-link-color: var(--aui-label-link-color);
@aui-label-bg-color: var(--aui-label-bg-color);
@aui-label-border-color: var(--aui-label-bg-color);
@aui-label-hover-bg-color: var(--aui-label-hover-bg-color);
@aui-label-hover-border-color: var(--aui-label-hover-bg-color);

@aui-label-border-radius: @aui-border-radius-smallish;
