/* demo page style */
.aui-item p {
    background: lightblue;
    color: darkblue;
    padding: 16px;
    outline: 1px solid currentColor;
}
.one-set-demo .aui-item:first-child {
    width: 256px;
}

.aui-theme-dark .aui-item p {
    background-color: darkblue;
    color: lightblue;
}
