---
component: Dialog2 upgrade guide
pageCategory: upgrade
analytics:
  pageCategory: upgrade
  component: dialog
---

<p>This page is a guide to upgrading from the Dialog 1 API to the <a href="{{rootPath}}docs/dialog2.html">new API</a>.</p>

<h2>Dialog2</h2>

<h3>Initialisation</h3>

<table class="aui">
    <thead>
    <tr>
        <th>Old API</th>
        <th>New API</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <aui-docs-example>
                <noscript is="aui-docs-code" type="text/html">
                    <button type="button" class="aui-button aui-button-link" id="old-dialog-trigger">Dialog trigger</button>
                </noscript>
                <noscript is="aui-docs-code" type="text/js">
                (function() {
                    var dialog = new AJS.Dialog({
                        width: 800,
                        height: 500,
                        id: "example-dialog",
                        closeOnOutsideClick: true
                    });

                    dialog.addHeader("The Dialog's Header");
                    dialog.addPanel("Panel 1", "<p>Hey, this is a dialog!</p>", "panel-body");

                    AJS.$("#old-dialog-trigger").on("click", function(e) {
                        e.preventDefault();
                        dialog.show();
                    });
                }());
                </noscript>
            </aui-docs-example>
        </td>
        <td>
            <aui-docs-example live-demo>
                <noscript is="aui-docs-code" type="text/html">
                    <button id="new-dialog-trigger" class="aui-button aui-button-link">Dialog2 trigger</button>
                    <section id="new-dialog" class="aui-dialog2 aui-dialog2-small aui-layer" role="dialog" hidden>
                        <div class="aui-dialog2-header">
                            <h2>The Dialog's Header</h2>
                        </div>
                        <div class="aui-dialog2-content">
                            Hey, this is a dialog!
                        </div>
                    </section>
                </noscript>
                <noscript is="aui-docs-code" type="text/js">
                    AJS.$("#new-dialog-trigger").on("click", function(e) {
                        e.preventDefault();
                        AJS.dialog2("#new-dialog").show();
                    });
                </noscript>
            </aui-docs-example>
        </td>
    </tr>
    </tbody>
</table>

<h3>Conversion guide</h3>

<p>More examples coming soon.</p>
