---
component: Inline Dialog upgrade guide
pageCategory: upgrade
analytics:
  pageCategory: upgrade
  component: inline-dialog
---

<p>This page is a guide to upgrading from the Inline Dialog 1 API to the <a href="{{rootPath}}docs/inline-dialog.html">new web component API</a>.</p>

<h2>Inline Dialog</h2>

<h3>Initialisation</h3>

<p>Use the new markup API, which contains the Inline Dialog content. If you previously injected content into the Inline Dialog by passing in a URL or function, then set the content of the <aui-docs-component>aui-inline-dialog</aui-docs-component> element instead.</p>

<table class="aui">
    <thead>
        <tr>
            <th>Old API</th>
            <th>New API</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <aui-docs-example>
                    <noscript is="aui-docs-code" type="text/html">
                        <a href="#" id="old-inline-dialog">Inline Dialog trigger</a>
                    </noscript>
                    <noscript is="aui-docs-code" type="text/js">
                        AJS.InlineDialog(AJS.$("#old-inline-dialog"), "myDialog", function(contents, trigger, showPopup) {
                          contents.html('Example Inline Dialog content.');
                          showPopup();
                          return false;
                        });
                    </noscript>
                </aui-docs-example>
            </td>
            <td>
                <aui-docs-example live-demo>
                    <noscript is="aui-docs-code" type="text/html">
                        <a data-aui-trigger href="#" aria-controls="inline-dialog">Inline Dialog trigger</a>
                        <aui-inline-dialog id="inline-dialog" alignment="bottom left">
                            Example Inline Dialog content.
                        </aui-inline-dialog>
                    </noscript>
                </aui-docs-example>
            </td>
        </tr>
    </tbody>
</table>

<h3>Conversion Guide</h3>

<p>The following tables provide a guide to converting usages of the old deprecated Inline Dialog API to the new web component API.</p>

<h4>Methods</h4>

<p>Use this table as a guide to upgrading Javascript functions available on the deprecated Inline Dialog object.</p>

<table class="aui compact upgrade-guide">
    <thead>
    <tr>
        <th>I previously used...</th>
        <th>I should now use...</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>show(e, trigger)</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-open"><code>open</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>hide()</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-open"><code>open</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>refresh()</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span> - Dynamic content not currently supported</td>
    </tr>
    </tbody>
</table>

<h4>Options</h4>

<p>Use this table as a guide to converting options passed into the deprecated Inline Dialog instantiation function.</p>

<table class="aui compact upgrade-guide">
    <thead>
    <tr>
        <th>I previously used...</th>
        <th>I should now use...</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>onHover</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-responds-to"><code>responds-to</code> attribute or <code>respondsTo</code> property</a></td>
    </tr>
    <tr>
        <td><code>closeOnTriggerClick</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span>  - Dialog closes on trigger click by default</td>
    </tr>
    <tr>
        <td><code>noBind</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span> - Events are triggered natively on the <aui-docs-component>aui-inline-dialog</aui-docs-component> element</td>
    </tr>
    <tr>
        <td><code>fadeTime</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>hideDelay</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>showDelay</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>width</code></td>
        <td>The dialog will expand to fit the content, or use custom styles on the <aui-docs-component>aui-inline-dialog</aui-docs-component> element instead</td>
    </tr>
    <tr>
        <td><code>offsetX</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-alignment"><code>alignment</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>offsetY</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-alignment"><code>alignment</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>container</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>cacheContent</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span> - Dynamic content not currently supported</td>
    </tr>
    <tr>
        <td><code>hideCallback</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-aui-hide"><code>aui-hide</code> event</a></td>
    </tr>
    <tr>
        <td><code>initCallback</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-aui-show"><code>aui-show</code> event</a></td>
    </tr>
    <tr>
        <td><code>isRelativeToMouse</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>closeOthers</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>responseHandler</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span> - Dynamic content not currently supported</td>
    </tr>
    <tr>
        <td><code>onTop</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-alignment"><code>alignment</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>gravity</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-alignment"><code>alignment</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>useLiveEvents</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>displayShadow</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span> - Shadows are always shown</td>
    </tr>
    <tr>
        <td><code>addActiveClass</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span> - Use the <a href="{{rootPath}}docs/inline-dialog.html#api-reference-open"><code>open</code> attribute</a> to determine whether the Inline Dialog is open or closed</td>
    </tr>
    <tr>
        <td><code>calculatePositions</code></td>
        <td><span class="aui-lozenge aui-lozenge-error">not supported</span></td>
    </tr>
    <tr>
        <td><code>arrowOffsetX</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-alignment"><code>alignment</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>arrowOffsetY</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-alignment"><code>alignment</code> attribute</a></td>
    </tr>
    <tr>
        <td><code>persistent</code></td>
        <td><a href="{{rootPath}}docs/inline-dialog.html#api-reference-persistent"><code>persistent</code> attribute</a></td>
    </tr>
    </tbody>
</table>

<div class="aui-message aui-message-info">
    The new <aui-docs-component>aui-inline-dialog</aui-docs-component> web component currently does not support dynamic content.
</div>
