@import (reference) '~@atlassian/aui/src/less/imports/mixins/typography';
@import (reference) '~@atlassian/aui/src/less/imports/aui-theme/theme.less';

aui-docs-example {
    display: block;
    margin-top: 10px;

    figure {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    figcaption {
        #aui.typography.h200();
        display: block;
        order: -1;
    }

    .aui-code-block-wrapper {
        position: relative;

        .aui-docs-example-actions {
            position: absolute;
            right: 8px;
            top: 8px;
            // needs to be higher than CodeMirror's z-indices
            z-index: 100;
        }

        aui-code-block {
            margin: 0;
        }
    }

    .aui-code-block-wrapper ~ .aui-code-block-wrapper aui-code-block {
        border-radius: 0;
        border-top-width: 0;
    }

    .aui-code-block-wrapper:first-of-type aui-code-block {
        border-radius: 6px 6px 0 0;
    }

    .aui-code-block-wrapper:last-of-type aui-code-block {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .aui-live-demo {
        background-color: inherit;
    }

    .aui-live-demo h6 {
        #aui.typography.h100();
        margin-bottom: 10px;
    }

    aui-code-block {
        #aui-themes.switch-light-dark({
            @import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-neutral-light.less';

            & {
                background-color: @ak-color-N0;
            }
        }, {
            @import (reference) '~@atlassian/aui/src/less/imports/aui-theme/adg/adg-neutral-dark.less';

            & {
                background-color: @ak-color-N40;
            }

            &.aui-live-demo {
                background-color: inherit;
            }
        });
    }
}
