@import (reference) './imports/global';

.aui-tooltip {
    background-color: var(--aui-tooltip-bg-color);
    // display: none;
    padding: 5px 10px;
    pointer-events: none;
    z-index: 9999;

    // &[data-show] {
    //     display: block;
    // }

    a,
    a:visited {
        color: inherit;
        text-decoration: underline;
    }

    .aui-tooltip-content {
        color: var(--aui-tooltip-content-text-color);
        margin: 0;
    }

    .aui-tooltip-title {
        color: var(--aui-tooltip-title-text-color);
        font-weight: bold;
        margin: 0;
    }
}
